<style>
#sdfsd{}
th
{
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.verticalText
{
	text-align: center;
	vertical-align: middle;
	width: 20px;
	margin: 0px;
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 10px;
	white-space: nowrap;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);  				
};
</style>